<h1>Temperature Converter</h1>

<div class='row'>
  <div class='col-sm-5'>
    <input type='number' class="form-control" [(ngModel)]='value1' (ngModelChange)="convertValue1()" />
    <select class="form-control" [(ngModel)]="scale1" (ngModelChange)="convertValue1()">
      <option *ngFor="let scale of temperatureScaleList" [value]="scale">{{scale}}</option>
    </select>
  </div>

  <div class='col-sm-2'>
    <div class="row justify-content-md-center text-center">
      =
    </div>
  </div>

  <div class='col-sm-5'>
    <input type='number' class="form-control" [(ngModel)]='value2' (ngModelChange)="convertValue2()" />
    <select class="form-control" [(ngModel)]="scale2" (ngModelChange)="convertValue1()">
      <option *ngFor="let scale of temperatureScaleList" [value]="scale">{{scale}}</option>
    </select>
  </div>
</div>

